fastapi
uvicorn[standard]
scikit-learn==1.8.0
xgboost
numpy
pandas
supabase
python-dotenv
openai
groq
twilio
psycopg2-binary
python-jose
passlib
bcrypt
email-validator
python-multipart
sqlalchemy
google-generativeai
apscheduler
boto3