fastapi
uvicorn[standard]
scikit-learn
xgboost
numpy
pandas
supabase
python-dotenv
openai
groq
twilio
psycopg2-binary
python-jose
passlib
bcrypt
email-validator
python-multipart
sqlalchemy
google-generativeai